body {
    font-family: 'Luxi Sans', sans-serif;
    background-color: #F5F5F5;
    font-size: 10.5pt;
}

p { margin: 0 0 1.5em 0; text-align: justify; }

a { text-decoration: none; color: #33a; }
a:hover { text-decoration: underline; color: #33f; }
a.pdf:before {
    margin-right: 1em;
    content: url(/files/css/icon_pdf.gif); }

h1,h2,h3,h4 {
    margin-top: 2em;
    clear: left;
}
h1 { margin-bottom: 0.5em; }

#sub h1 {
    margin-top: 1em;
}

h2 {
    font-size: 120%;
    margin-top: 1.5em !important;
    padding-top: 0.5em;
    border-top: 4px solid #AAA;
}

hr {
    background-color: #BBB;
    height: 4px;
    border: none;
    padding: 0;
    margin: 1.5em 0 0 0;
}

sup { line-height: 1ex; }

#site {
    max-width: 59em;
    margin: 1.5em auto 3em auto;
    line-height:1.5em;
}

#page-first { display: none }

#page-first + p { padding-top: 1em; clear: right }

#page-first + p:first-letter, p.emphfirst:first-letter {
    font-size: 320%;
    padding: 0 0.15em 0 0;
    margin:  0.05em 0 -0.15em 0;
    line-height: 1em;
    float: left;
    text-shadow: #aaa 3px 3px 4px;
}

.right { float: right; clear: left; }
.left { float: left; clear: right; }
.inset {
    border: 1px solid silver;
    padding: 2px;
    margin: 0em 0.8em 0.8em 0.8em;
}
.right.inset { margin-right: 0 !important; }
.left.inset { margin-left: 0 !important; }
.quiet {
    color: grey;
    font-size: 0.875em;
    line-height: 1.714em;
}
blockquote {
    padding: 0 2.8em;
    margin: 1.714em 0;
    color: #444;
    font-size: 0.875em;
    line-height: 1.714em;
}

.note {
    padding-top: 0.5em;
    background-color: #fafaff;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

table {
    margin: 1.0em auto 1.5em auto;
    table-layout: auto;
    border-spacing: 0;  /* No gap in borders */
}
table tr {
    text-align: center;
}
table th {
    border-bottom: 1px solid #999;
    padding: 0.2em 1em;
}
table td {
    border-bottom: 1px solid #BBB;
    padding: 0.2em 1em;
}
table th.title {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    vertical-align: bottom;
    background-color: lightgrey;
}

caption {
    color: #333;
    font-size: 0.875em;
    margin: 0.875em auto 0 auto;
    line-height: 1.14em;
    text-align: justify;
}

#header {
    font-size: 120%;
    margin-bottom: 0.5em;
}
.ptitle {
    font-weight: bold;
}

.footnotes li {
    font-size: 75%;
}
.footnotes p {
    margin: 0
}

.section {
    font-size: 87.5%;
    line-height: 1.43em;
    margin-bottom: 1.43em;
    margin-top: 1.43em;
    margin-left: 7.5em;
}
.section h1 {
    font-size: 100%;
    line-height: 1.43em;
    position: absolute;
    width: 6em;
    max-width: 6em;
    margin-left: -7.5em;
    margin-top: 0em;
    font-weight: bold;
    font-variant: small-caps;
}
.section p { margin-bottom: 1.43em; }

dd {
    margin-left: 7.5em;
}
dt {
    position: absolute;
    width: 6em;
    max-width: 6em;
}

.section p { margin-bottom: 1.43em; }

.list .title { font-weight: bold; }
p.line { position: relative; margin: 0; }

.comments { font-size: smaller; position: absolute; color: silver; right: 0; top: 0; }
.excerpt { color: black; }

.signature {
    margin-top: 3em;
    position: relative;
}
.signature .author {
    font-style: normal;
    color: black;
    display: block;
    margin-bottom: 1.5em;
}
.signature .date {
    font-size: 87.5%;
    line-height: 1.5em;
    display: block;
    font-variant: small-caps;
    font-style: normal;
}

.signature .location {
    display: block;
    font-size: 87.5%;
    line-height: 1.5em;
    right: 0;
    top: 1.5em;
}

/* Code: */
pre {
    margin: 1em 0 1.5em 0;
    font-size: 87.5%;
    line-height: 1.5em;
    color: #111;
    background: #fffff0;
    border: 1px solid #ddc;
    padding: 0.5em 1em;
    overflow: hidden;

    box-shadow: 1px 1px 6px #ccc;
    -webkit-box-shadow: 1px 1px 6px #ccc;
    -moz-box-shadow: 1px 1px 6px #ccc;
}
pre:hover {
    border-right: none;
    overflow: visible;
}

code {
    background-color: #fffff0;
    border: 1px solid #ddc;
}
pre code {
    border: none;
}

/* Footer: */
#footer {
    margin-top: 0;
    color: grey;
    font-size: 87.5%;
    line-height: 1.3em;
}
#footer address {
    position: relative;
    margin: .5em 0 0 0;
    text-align: right;
}
#footer a {
    font-style: normal;
    text-decoration: none;
}
#footer .copyright {
    position: absolute;
    left: 0;
    text-align: left;
    display: block;
}
#footer .engine {
    position: absolute;
    text-align: right;
    display: block;
    right: 0;
}

/* Figures and images */
dl.figure {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
}

dl.figure dd {
    color: #333;
    font-size: 0.875em;
    margin: 0.875em auto 0 auto;
    line-height: 1.14em;
    text-align: justify;
    width: 85%;
}

/* Equations */
div.maruku-equation { display: block ;text-align: center; }
div.maruku-equation img.maruku-png { position: relative; top: -0.75em;}
span.maruku-inline { }
img.maruku-png { }

#home-photo h1 {
    position: absolute;
    color: white;
    margin-left: 20px;
    font-size: 140%;
    margin-top: 160px;
}

#home-photo img {
    border: 3px double silver;
    box-shadow: 2px 2px 8px #ccc;
    -webkit-box-shadow: 2px 2px 8px #ccc;
    -moz-box-shadow: 2px 2px 8px #ccc;
}

body#home #site {
    margin-top: 0
}

div.image {
    text-align: center
}
p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.svg-object {
    text-align: center
}
